# Cluster + RPC
APP_ENV=devnet
SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com

# Core MVP programs (Anchor.devnet)
DDNS_PROGRAM_ID=HM1AZFHisxDartjDJj5pTviqyUjDno9zfUHasE8c1TXu
DDNS_REGISTRY_PROGRAM_ID=GDVsLPGxcZLqxj45UujJfEWpXiMwJid8B5a428VZ12QL
DDNS_QUORUM_PROGRAM_ID=7ru9XCvrBDys1te7MK6WLmMjNnQvhC5GZf2jPqAffucL
DDNS_STAKE_PROGRAM_ID=3KMAq6EKGhskXF3DjjtSdkRUiKnhanb3MYsGWWjCM6Vc
DDNS_NAMES_PROGRAM_ID=4V5WcPvxJTkRQv2ps8ueBkqPiNcy8HUMz4FS9i4hePA8

# Service defaults
GATEWAY_PORT=8054
TOLLBOOTH_PORT=8788
ALLOW_LOCAL_FALLBACK=0
