[Unit]
Description=Run Jive watchdog every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true
Unit=jive-watchdog.service

[Install]
WantedBy=timers.target
